<h1>Історія</h1>
<div class = "borderio">
<p><b>06.05.22</b></br>
  * Вдосконалено код підрахунку коментарів.</br>
  * Додано створення тем і їх вибір.</br>
  * Додано історію. </br>
  * Виправлено баг з видаленням постів з коментарями.</br></p>
</div>
